
// Font.
$font: (
  primary: ("Lato", Helvetica, Arial, sans-serif),
  monospace: (Monaco, courier, monospace)
);

// Palette.

$palette: (
  primary:           #063562,
  secondary:         #02579E,
  meta:              #ADADAD,
  border:            #063562,
  bg:                #ffffff,
  note:              #028764,
  important:         #DD3333,
  accent:            getPaletteKey(accent1),
  accent-alt:        getPaletteKey(accent2),
);

@import "imports/functions";

@import "fontawesome.min.css";
@import "brands.min.css";

@import "imports/reset";
@import "imports/general";
@import "imports/icons";
@import "imports/animations";
@import "imports/structure";
@import "imports/header";
@import "imports/content";
@import "imports/docs";
@import "imports/blocks";
@import "imports/footer";
@import "imports/prism";
